body{
    height: 100vh;
}

header{
    display: grid;
    text-align: center;
}

#logo{
    margin: 20px auto 10px;
}

#menuham{
    padding: 10px;
    font-size: 2.1em;
    color: var(--cor1);
}

#item a{
    display: flex;
    padding: 5px;
    font-size: 1.2em;
    color:var(--cor1);
    text-decoration: none;
    justify-content: center;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.321);
}

#item a:hover{
    color: var(--cor5);
    background-color: var(--cor1);
}

main{
    display: grid;
    justify-content: center;
}

.image-container{
    margin-top: 30px;
}

footer{
    padding: 10px;
    place-items: center;
}