@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root{
    --cor1:#BF9E75;
    --cor2:#7C8C03;
    --cor3:#465902;
    --cor4:#324001;
    --cor5:#1E2601;

    --fonttitulo:'Cinzel';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: var(--cor5);    
    background-color: var(--cor2);
}

body{
    height: 100vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr) 50px;
}

header{
    display: grid;
    padding-top: 30px;
    text-align: center;
    color: var(--cor1);
    font-style: italic;
    font-weight: bolder;
    padding-bottom: 20px;
    font-family: var(--fonttitulo);
    background-color: var(--cor5);
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.321);
}

#logo{
    margin: 20px auto 10px;
}

#menuham{
    padding: 10px;
    font-size: 2.1em;
    color: var(--cor1);
}

#item{
    display: none;
}

#item a{
    display: flex;
    padding: 8px;
    font-size: 1.2em;
    color:var(--cor1);
    text-decoration: none;
    justify-content: center;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.321);
}

#item a:hover{
    transition: .5s;
    color: var(--cor5);
    background-color: var(--cor1);
}

main{
    margin: auto;
    width: 97vw;
    background-color: rgba(255, 255, 255, 0.508);
}

h2, h3{
    padding: 10px;
    text-shadow: 6px 5px 3px rgb(0 0 0 / 7%);
}

p{
    text-indent: 2em;
}

p, li{
    padding: 10px;
    font-size: 1.1em;
    line-height: 2em;
    margin: 24px auto ;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 6px 5px 3px rgb(0 0 0 / 7%);
}

ul{
    padding: 10px;
    list-style: none;
}

.tipodeplantas{
    display: block;
    margin: auto;
    width: 90vw;
    height: 350px;
}

footer{
    margin-bottom: -20px;
    background-color: var(--cor4);
}

footer p{
    color: var(--cor1);
    padding: 10px;
    text-align: center;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.321);
}