body{
    background-color: #BF9E75;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: 1 / 1 / 2 / 3;
}

#menuham{
    display: none;
}

#logotitulo{
    display: flex;
    padding: 10px;
    align-items: center;
}

#logo{
    height: 60px;
}

#h2{
    display: grid;
    justify-content: left;
}

#item{
    display: block;
    padding: 30px;
}

#item a{
    padding: 20px;
}

nav a{
    padding: 10px;
    font-size: 1.1em;
    text-decoration: none;
}

nav a:hover{
    border-bottom: 2px solid #BF9E75;
}

main{
    gap: 20px;
    min-width: 690px;
    max-width: 70vw;
    margin: auto;
    display: grid;
    margin-top: 20px;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.image-container{
    width: 100%;
    height: 280px;
    max-width: 380px;
}

footer{
    text-align: center;
    grid-area: 3 / 1 / 4 / 3;
}
