body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 20vw 3fr;
    grid-template-rows: 80px 2fr 30px;
}

header{
    display: flex;
    padding: 10px;
    align-items: center;
    grid-area: 1 / 1 / 2 / 3;
    justify-content: space-between;
}

nav a{
    padding: 10px;
    color: white;
    text-decoration: none;
}

aside{
    grid-area: 2 / 1 / 3 / 2;
}

main{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-area: 2 / 1 / 3 / 3;
}

.caixa{
    place-self: center;
    height: 98%;
    width: 80%;
}

footer{
    grid-area: 3 / 1 / 4 / 3;
}