body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 20vw 3fr;
    grid-template-rows: 80px 2fr 30px;
}

header{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    grid-area: 1 / 1 / 2 / 3;
}

#logotitulo{
    display: flex;
    padding: 10px;
    align-items: center;
}

#logo{
    height: 60px;
}

#h2{
    display: grid;
    justify-content: left;
}

#item{
    display: block;
    padding: 30px;
}

#item a{
    padding: 20px;
}

nav a{
    padding: 10px;
    font-size: 1.1em;
    text-decoration: none;
}

nav a:hover{
    border-bottom: 2px solid #BF9E75;
}

#menuham{
    display: none;
}

aside{
    grid-area: 2 / 1 / 3 / 2;
}

footer{
    text-align: center;
    grid-area: 3 / 1 / 4 / 3;
}