*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #BF9E75;
}

header{
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

#item a{
    padding: 25px;
}

#item a:hover{
    border-bottom: 2px solid #BF9E75;
}

#item{
    display: block;
}

#menuham{
    display: none;
}

main{
    margin: auto;
    width: 700px;
    background-color: white;
}

h2, h3{
    padding: 10px;
    color: #1E2601;
    text-align: center;
}

footer p{
    margin: 0px;
}