@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root{
    --cor1:#BF9E75;
    --cor2:#7C8C03;
    --cor3:#465902;
    --cor4:#324001;
    --cor5:#1E2601;

    --fonttitulo:'Cinzel';
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    color: var(--cor1);
    font-style: italic;
    font-weight: bolder;
    font-family: var(--fonttitulo);
    background-color: var(--cor5);
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.321);
}

body{
    font-family: var(--fonttitulo);
}

a{
    color: var(--cor1);
    text-decoration: none;
}

#item{
    display: none;
}

.image-container{
    position: relative;
    width: 250px;
    height: 300px;
    overflow: hidden;
    box-shadow: 7px 6px 6px 1px #00000030;
}

.image{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.image.active{
    opacity: 1;
}

.texto{
   top: 81%;
   justify-content: center;
   text-align: center;
   height: 60px;
   padding: 10px;
   display: flex;
   font-style: italic;
   color: var(--cor1);
   position: relative;
   background-color: #1e2601ef;
}

.texto:hover{
   background-color: var(--cor3);
}

footer p{
    padding: 10px;
    text-align: center;
    color: var(--cor1);
    font-style: italic;
    background-color: var(--cor5);
}