@charset "UTF-8"; /* Versão Mobile*/

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root{
    --cor1:#6CAFD9;
    --cor2:#275D8C;
    --cor3:#0B2740;
    --cor4:#142426;
    --fontpadrao:'Julius Sans One';
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fontpadrao);
}

body{
    width: 100vw;
    height: 100vh;
}

#topo{
    height:35vh;
    width: 100vw;
    background: url('../imagem/tiguan\ 02.jpg') center;
    background-size: cover;
}

#topo h2{
    color: white;
    padding: 10px;
    text-align: center;
}

#secaotexto{
    display:flex;
    color: white;
    justify-content: flex-end;
    background-color: var(--cor3);
}

#texto{
    gap: 20px;
    width: 50%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#texto h3{
    grid-column: span 2;
}

.paragrafo{
    grid-row: 2;
    font-size: .8em;
}

#imagemtexto{
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#imagem{
    background: url('../imagem/tiguan\ 01\ recorta.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

#textoimg{
    padding: 8px;
    display: grid;
    color: white;
    align-items: center;
    background-color: black;
}

#cartoes{
    width: 100vw;
    height: 200px;
    display: flex;
    font-weight: bolder;
    align-content: center;
    justify-content: center;
    background-color: antiquewhite;
}

.card{
    width: 25vw;
    margin: auto 7px;
    height: 20vh;
    display: grid;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    align-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.468);
}

.card:hover{
    transition: .5s;
    transform: scale(1.1)
}

.butao{
    width: 80%;
    padding: 6px;
    margin: auto;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    background-color: var(--cor4);
}

.butao:hover{
    transition: .7s;
    background-color: var(--cor2);
}

a{
    color: white;
    text-decoration: none;
}

#card01{
    background: url('../imagem/tiguan\ allspace.avif') center no-repeat;
    background-size: contain;
}

#card02{
    background: url('../imagem/tiguan\ confortiline.jpg') center no-repeat;
    background-size: contain;
}

#card03{
    background: url('../imagem/tiguan\ r\ line.png') center no-repeat;
    background-size: contain;
}

#final div{
    width: 100vw;
    height: 40vh;
    background: url('../imagem/tiguan\ 03.jpg') center;
    background-size: cover;
}
