@charset "UTF-8"; /* Versão Mobile*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root{
    --cor1:#6CAFD9;
    --cor2:#275D8C;
    --cor3:#0B2740;
    --cor4:#142426;
    --fontpadrao:'Roboto Flex';
}

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: var(--fontpadrao);
}

body{
    width: 100vw;
    height: 100vh;
}

#topo{
    height:35vh;
    width: 100vw;
    background: url('../imagem/tiguan\ 01.jpg') center;
    background-size: cover;
}

#topo h2{
    padding: 10px;
    text-align: center;
}

#secaotexto{
    display:flex;
    justify-content: flex-end;
    background-color: #0f5da2;
}

#texto{
    gap: 20px;
    width: 50%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#texto h3{
    grid-column: span 2;
}

.paragrafo{
    grid-row: 2;
    font-size: .8em;
}

#imagemtexto{
    height: 25vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#imagemtexto img{
    width: 100%;
    height: 100%;
}

#textoimg{
    padding: 8px;
    display: grid;
    color: white;
    align-items: center;
    background-color: black;
}

#cartoes{
    height: 25vh;
    width: 100vw;
    display: flex;
    padding-top: 35px;
    justify-content: center;
    background-color: #0B2740;
}

.card{
    width: 25vw;
    height: 20vh;
    margin: 10px;
    display: flex;
    border-radius: 10px;
    background-color: white;
}

.card:hover{
    transition: .5s;
    transform: translate(-3px,-3px);
}

#final div{
    width: 100vw;
    height: 40vh;
    background: url('../imagem/tiguan\ 03.jpg') center;
    background-size: cover;
}