@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}

header{
    width: 100vw;
    display: flex;
    padding: 10px;
    color: white;
    align-items: center;
    background-color: #1e1d20;
    justify-content: space-between;
}

#menu a{
    padding: 10px;
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

#menu a:hover{
    transition: .5s;
    text-decoration: underline;
    color: rgb(115, 115, 220);
}

#inputForm{
    display: grid;
    place-items: center;
}

#formulario{
    top: 50%;
    left: 50%;
    width: 90vw;
    padding: 20px;
    max-width: 600px;
    position: absolute;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color: rgba(64, 17, 184, 0.756);
}

#formulario input{
    width: 90%;
    margin: 15px;
    border: none;
    padding: 10px;
    border-radius: 15px;
}

#botoes input{
   width: 30vw;
   border: none;
   padding: 10px;
   display: grid;
   color: white;
   flex-wrap: nowrap;
   border-radius: 20px;
   background-color: black;
}

#botoes input:hover{
    transition: 1s;
    color: black;
    background-color: white; 
}