@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

*{
    margin: 0px;
    padding: 0px;

}

header{
    padding: 10px;
    display: flex;
    color: white;
    align-items: center;
    background-color: #0E1256;
    justify-content: space-between;
}

header a{
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Electrolize';
}

header a:hover{
    transition: .7s;
    color: #1823e8;
    border-bottom: 2px solid #1823e8;
}

header h3{
    font-weight:100;
}

h1{
    margin: 10px;
    text-align: center;
}

#icones{
    width: 300px;
    margin: auto;
}

#icones img{
    height: 50px;
    margin: 10px;
    border-radius: 30px;
}

#icones img:hover{
    transition: .6s;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.404);
}

#telefone{
    top: 50%;
    left: 50%;
    width: 600px;
    height: 800px;
    position: absolute;
    transform: translate(-67%, -20%);
    background: url('../imagem/telefone\ 800.png');
}

#telefone >iframe{
    top: 10%;
    left: 42%;
    position: relative;

    height: 600px;
}

