@charset "UTF-8"; /*Versão Mobile*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

:root{
    --cor1:#0E1256;
    --cor2:#34388A;
    --cor3:#1823e8;
    --cor4:rgb(102, 98, 98);


    --fontcabecalho:'Electrolize';
    --fontcorpo:'Orbitron';
}

*{
    margin: 0;
    padding: 0;
}

header{
    padding: 10px;
    display: flex;
    color: white;
    align-items: center;
    background-color: #0E1256;
    justify-content: space-between;
    font-family: var(--fontcabeçalho);
}

header a{
    padding: 10px;
    color: white;
    text-decoration: none;
}

header a:hover{
    transition: .7s;
    color: #1823e8;
    border-bottom: 2px solid #1823e8;
}

header h3{
    font-weight:100;
}

#container{
    height: 95vh;
    width: 100vw;
    font-family: var(--fontcorpo);
    background: url('../imagem/fundo700.jpg') no-repeat center bottom;
    background-size: cover;
}

#texto{
    top: 15%;
    padding: 25px;
    position: absolute;
    text-align: justify;
}

#texto h2{
    color: white;
    margin-bottom: 10px;
}

#texto h3{
    color: #1823e8;
    margin-bottom: 20px;
}

#texto p{
    color: white;
    line-height: 1.5em;
}

#botoes{
    top: 50%;
    left: 10%;
    display: flex;
    position: absolute;
}

#botoes a{
    margin: 10px;
    padding: 18px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    background-color: #1823e8;
}

#botoes a:hover{
    transition: .5s;
    color: #0E1256;
    background-color: var(--cor4);
}